<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_DIR">../logs/fastline</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{1} (%F:%L) - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/log.txt"
                     filePattern="${ARCHIVE}/%d{yyyy-MM-dd-hh-mm}-log.txt.gz"
                     append="true">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.vartanian" level="debug">
            <AppenderRef ref="fileWriter" level="debug"/>
        </Logger>
        <Logger name="org.springframework" level="debug">
            <AppenderRef ref="STDOUT" level="debug"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="STDOUT" level="debug"/>
        </Root>
    </Loggers>
</Configuration>